@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Account verwijderen";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<div class="row">
    <div class="col s12">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="col s12 center" style="margin-bottom:20px;">
                            <h5>@ViewData["Title"]</h5>
                            <p>
                                <strong>Het verwijderen van uw account kan niet ongedaan worden gemaakt.</strong>
                            </p>
                        </div>
                        <div class="row">
                            <form id="delete-user" method="post" class="form-group">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @if (Model.RequirePassword)
                                {
                                    <div class="form-group">
                                        <label asp-for="Input.Password"></label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                }
                                <button class="btn btn-danger" type="submit">Verwijdern en sluit mijn account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}