<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - CulinaireTaxi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
</head>
<body>

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a asp-page="/Index" id="logo-container" class="brand-logo">CulinaireTaxi</a>
            <ul class="right hide-on-med-and-down">
                <li><a asp-page="/About">Restaurants</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
                <li><a asp-page="/Restaurant">Restaurant overzicht</a></li>
                <li><a asp-page="/Dashboard/Dashboard">Dashboard</a></li>
                <li style="margin-left:40px"><partial name="_LoginPartial" /></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a asp-page="/Index">Startpagina</a></li>
                <li><a asp-page="/About">About</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
                <partial name="_LoginPartial" />
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    
        @RenderBody()
    
        
        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Het Concept</h5>
                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae egestas lacus, 
                        id tristique ex. In luctus dignissim bibendum. Fusce in gravida arcu.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Snelkoppelingen</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Mijn account</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Privacybeleid</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a class="brown-text text-lighten-3">&copy; 2019 - CulinaireTaxi</a>
                </div>
            </div>
        </footer>
    

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
